.body-div {
     background-color: #f3f3f3;
}

/*generals*/
.col2-left {
     float: left;
}

.col2-right {
     float: right;
}

.col3-left {
     float: left;
}

.main {
     float: left;
}

.col3-right {
     float: right;
}

.wrapper {
     width: 73.25em;
     margin: 0 auto;
}

.main-wrapper {
     float: right;
}

.checker {
     border: 0.1px solid;
}

/*creates*/
/*header-div css*/
.header-div {
     background-color: #76c7c1;
     background-image: url("../images/ruler.png");
     background-position: bottom;
     background-repeat: repeat-x;
     width: 100%;
}

.header-left {
     float: left;
     padding-left: 10px;
     width: 8.803418%;
}

.header-right {
     float: right;
     width: auto;
}

.logo-div {
     padding-top: 21px;
     width: 100%;
}

.header-right ul {
     float: left;
     margin-top: 32px;
     margin-bottom: 32px;
}

.header-right ul li {
     float: left;
     list-style-type: none;
     padding-left: 14px;
     padding-right: 12px;
}

.menu-search {
     float: right;
}

/*body css*/
.topinfo-div {
     background-color: #ececec;
     width: 100%;
}

.topinfo-arrowdown-wrapper {
     height: 13px;
     background-image: url("../images/arrow-down.png");
     background-repeat: no-repeat;
     background-position: bottom left;
}

.top-col2-left {
     line-height: 80px;
     padding-left: 10px;
}

/*main-body-1 css*/
.main-body-1 {
     padding-top: 40px;
     padding-bottom: 75px;
     width: 100%;
}

.heading {
     width: 100%;
}

.main-body-1-3cols {
     width: 100%;
}

.body1-col3left {
     float: left;
     width: 25.597269%;
}

.body1-main-wrapper {
     float: right;
     width: 74.400000%;
}

.main-body-1-main {
     width: 65.596330%;
}

.main-body-1-col3-right {
     float: right;
     width: 30.192660%;
}

.main-body-2 {
     height: 578px;
     background-image: url("../images/main-body-2-bg.png");
     background-position: top;
     background-repeat: repeat-x;
     width: 100%;
}

.main-body-2-wrapper {
     padding-top: 66px;
     padding-bottom: 90px;
}

.team-members {
     position: relative;
     width: 100%;
     margin-top: 70px;
}

.members {
     float: left;
     position: relative;
     width: 23.037542%;
     height: 335px;
     margin: 0 11px;
}

.members-nametag {
     position: absolute;
     background-image: url("../images/member-nametag.png");
     background-position: center;
     background-repeat: no-repeat;
     bottom: 0px;
     right: 35px;
     width: 74.074074%;
     height: 54px;
     font-size: 17px;
     font-weight: bold;
     color: white;
     text-align: center;
     line-height: 54px;
     z-index: 30;
}

.members-image {
     position: relative;
     background-image: url("../images/member-image.png");
     background-position: center;
     background-repeat: no-repeat;
     width: 100%;
     height: 314px;
}

.members-image-frame {
     position: absolute;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 314px;
}

.members-desp {
     display: none;
     background-image: url("../images/member-desp.png");
     background-position: center;
     background-repeat: no-repeat;
     position: absolute;
     width: 73.333333%;
     height: 242px;
     top: 0px;
     left: 0px;
     padding: 36px 36px;
     color: #ffffff;
     font-size: 13px;
     line-height: 25px;
     font-style: italic;
     z-index: 10;
}

.sharing {
     position: absolute;
     bottom: 52px;
     left: 34px;
     z-index: 20;
}

.members:hover .members-nametag {
     background-image: url("../images/member-nametag-hover.png");
     background-position: center;
     background-repeat: no-repeat;
}

.members:hover .members-desp {
     display: block;
}

/*body-3 css*/
.main-body-3 {
     max-height: 590px;
     width: 100%;
}

.headline-title {
     float: left;
}

.headline-arrows {
     float: right;
     background-color: #f3f3f3;
}

.left-arrow-div,
.right-arrow-div {
     float: left;
     margin-left: 18px;
}

.body-3-list {
     width: 100%;
}

/*footer css*/
.footer-top {
     padding-top: 45px;
     background-color: #76c7c1;
     background-image: url("../images/footer-design.png");
     background-position: top;
     background-repeat: repeat-x;
     padding-bottom: 45px;
     width: 100%;
}

.footer-bottom {
     background-color: #6bb4ad;
}

.footer-top-left {
     width: 31.228668%;
}

.footer-top-main {
     width: 41.298701%;
}

.footer-top-main-wrapper {
     width: 65.699655%;
}

.footer-top-right {
     width: 50.129870%;
}

.footer-top-right ul li {
     list-style-type: none;
     padding-top: 20px;
}

.blog-image {
     float: left;
     width: 18.131799%;
     position: relative;
     background: url("../images/blog-image.png") no-repeat top left;
     height: 70px;
}

.blog-image-frame {
     position: absolute;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 70px;
     z-index: 10;
}

.blog-info {
     float: right;
     width: 75.129532%;
     font-size: 14px;
     line-height: 18px;
}

#menu-icon {
     display: none;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

     .wrapper {
          width: 52em;
          margin: 0 auto;
     }

     .header-right ul li {
          display: none;
     }

     .header-right {
          position: relative;
     }

     #menu-icon {
          display: block;
          line-height: 40px;
          position: absolute;
          top: 10px;
          right: 10px;
          width: 40px;
          height: 40px;
     }

     .header-right ul:hover li {
          display: block;
          text-align: left;
          float: none;
          background-color: #3e7f77;
          border: 1px solid whitesmoke;
     }

     .header-right {
          position: relative;
     }

     .members {
          width: 22%;
     }
}