header {
     width: 100%;
     background: url("../images/header-bg-img.png") no-repeat top center;
     background-size: cover;
     min-width: 1400px;
}

.navbar {
     width: 100%;
     background-color: #000000;
}

.wrapper {
     width: 1150px;
     margin: 0 auto;
}

.logo-1 {
     width: 79px;
     padding-top: 21px;
     padding-bottom: 22px;
}

.nav-left {
     float: left;
     /*width: 550px;*/
     /*50%-padding-left*/
     padding-left: 25px;

}

.nav-right {
     float: right;
     /*width: 575px;*/
     /*50%*/
}

.nav-right ul {
     float: right;
}

.nav-right ul li {
     float: left;
     line-height: 70px;
     padding-right: 23px;
     padding-left: 25px;
     font-size: 14px;
}

/*header-top*/

.header-top {
     width: 100%;
}

.header-top-left {
     float: left;
     width: 575px;
     /*50%*/
}

.header-top-right {
     float: right;
     width: 575px;
     /*50%*/
}

.prototype-container {
     /*height: 392px;*/
     padding-left: 23px;
     padding-right: 36px;
     padding-top: 110px;
     padding-bottom: 139px;
}

.logo-2 {
     width: 175px;
     padding-bottom: 33px;
}

.prototype-container h1 {
     padding-bottom: 32px;
}

.hr-line {
     display: inline-block;
     background-color: #ffffff;
     height: 2px;
     width: 64px;
}

.prototype-container p {
     line-height: 23px;
     padding-top: 36px;
     padding-right: 50px;
}

.download-btn {
     display: inline-block;
     padding: 12px 30px;
     margin-top: 42px;
}

.trial-form {
     float: right;
     width: 360px;
     margin-top: 140px;
     margin-right: 24px;
     /*height: 362px;*/
     background-color: #ffffff;
     border-radius: 3px;
}

.trial-title {
     text-align: center;
     padding: 14px 17px;
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;
}

.trial-form form input[type=text] {
     margin-left: 38px;
     margin-bottom: 36px;
     width: 257px;
     /*260px-13-13-1-1*/
     padding: 8px 10px;
     border-left: 1px solid #fbfbfb;
     border-right: 1px solid #fbfbfb;
     border-bottom: 1px solid #d6d6d6;
     border-top: 0px;
}

.trial-form form input[type=password] {
     margin-left: 38px;
     margin-bottom: 48px;
     width: 257px;
     /*260px-13-13-1-1*/
     padding: 8px 10px;
     border-left: 1px solid #fbfbfb;
     border-right: 1px solid #fbfbfb;
     border-bottom: 1px solid #d6d6d6;
     border-top: 0px;
}

.trial-form form {
     padding-top: 30px;
}

.trial-form form input[type=submit] {
     padding: 20px;
     width: 100%;
     /*360px-20*2*/
     text-align: center;
     border: none;
     border-bottom-left-radius: 3px;
     border-bottom-right-radius: 3px;
}

/*header-bottom*/

.header-bottom {
     background-color: #ffffff;
     box-shadow: 3px 3px 3px#b7b7b7;
}

.header-bottom-left {
     float: left;
     padding: 21px 24px;
     width: 360px;
}

.header-bottom-left h3 {
     padding-bottom: 6px;
}

.header-bottom-right {
     float: right;
     padding-bottom: 26px;
}

.header-bottom-right a {
     width: 54px;
}

.header-bottom-right ul {
     float: right;
}

.header-bottom-right ul li {
     float: left;
     padding-top: 26px;
     padding-left: 14px;
     padding-right: 33px;
     list-style-type: none;
}

main {
     min-width: 1400px;
     width: 100%;
}

.section-1 {
     width: 100%;
}

.section-1-wrapper {
     padding-top: 147px;
     padding-bottom: 116px;
     padding-left: 18px;
}

.tabs {
     float: left;
}

.tabs ul li {
     padding: 46px 34px;
     box-shadow: 2px 2px 2px #b7b7b7;
     margin-bottom: 1px;
}

.tabs ul li:first-child {
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;
}

.tabs ul li:last-child {
     border-bottom-left-radius: 3px;
     border-bottom-right-radius: 3px;
}

.tab-section {
     float: right;
     width: 922px;
}

.tabs-img {
     float: right;
     padding: 24px;
}

.tabs-img figure {
     width: 320px;
}

.tabs-desp {
     float: left;
     width: 488px;
}

.tabs-desp h3 {
     padding-bottom: 50px;
}

.tabs-desp p {
     padding-bottom: 24px;
     line-height: 21px;
}

.tabs-dnld-btn {
     display: inline-block;
     padding: 13px 24px;
     text-align: center;
     margin-top: 28px;
     text-decoration: none;
     box-shadow: 1px 1px 1px #b7b7b7;
     border-radius: 3px;
}

/*section-2*/

.section-2,
.section-4,
.section-6,
.section-8 {
     background-color: #ffffff;
     width: 100%;
}

.section-2-left {
     float: left;
     padding-top: 127px;
     padding-bottom: 166px;
     padding-left: 27px;
}

.window-img {
     width: 453px;
     box-shadow: 20px 20px 50px #bdbdbd;
}

.window-bar {
     background: url("../images/window-panel.png") no-repeat top left;
     background-color: #ececec;
     height: 12px;
     width: 100%;
}

.window-img figure {
     width: 100%;
}

.section-2-right {
     width: 437px;
     padding-right: 40px;
     padding-top: 105px;
     float: right;
}

.section-2-right h3,
.section-3-left h3 {
     font-family: 'Open Sans', sans-serif;
     font-weight: 700;
     padding-bottom: 25px;
}

.section-2-right hr,
.section-3-left hr {
     width: 64px;
     height: 2px;
     border: none;
     background-color: #ff9b51;
     margin-bottom: 28px;
}

.section-2-right p,
.section-3-left p {
     padding-bottom: 24px;
     font-family: 'Open Sans', sans-serif;
     color: #8e8f93;
     font-size: 14px;
     line-height: 20px;
}

.section-2-right ul {
     list-style-type: none;
     padding-top: 16px;
     width: 100%;
}

.sublist-icon {
     display: block;
     float: left;
     width: 18px;
     height: 18px;
     padding: 9px;
     border-radius: 50%;
     margin-top: 2px;
     border: 2px solid #ff8b38;
}

.sublist-desp {
     display: block;
     float: right;
     width: 367px;
}

.sublist-desp h5 {
     padding-bottom: 6px;
}

.section-3-left {
     float: left;
     padding-top: 105px;
     padding-left: 28px;
     width: 474px;
}

.section-3-right {
     float: right;
     padding-top: 91px;
     padding-right: 0px;
     padding-bottom: 130px;
}

/*section-4*/

.section-default h1 {
     text-align: center;
     padding-top: 95px;
}

.section-default hr {
     width: 64px;
     height: 2px;
     border: none;
     background-color: #ff9b51;
     margin: 22px auto 28px auto;
}

.section-default p {
     text-align: center;
}

.section-3cols {
     display: table;
     table-layout: fixed;
}

.section-col {
     display: table-cell;
}

.section-4 .section-col {
     padding-left: 18px;
     padding-right: 18px;
     padding-top: 79px;
     padding-bottom: 100px;
}

.sec-4-icon {
     text-align: center;
     padding: 0px;
}

.icon-fig {
     display: inline;
     text-align: center;
     line-height: 70px;
     /* padding: 0px 20px;*/
     border-radius: 50%;
     border: 2px solid #ff8b38;
}

.icon-lightbulb {
     padding: 18px 25px;
}

.icon-keyboard {
     padding: 18px 20px;
}

.icon-lightning {
     padding: 18px 25px;
}

.section-4 .section-col h3 {
     padding-top: 25px;
     padding-bottom: 25px;
     text-align: center;
}

.section-4 .section-col p {
     padding-bottom: 24px;
     line-height: 19px;
     text-align: center;
}

/*section-5*/

.section-5 {
     width: 100%;
}

.section-5 .section-col {
     padding-left: 21px;
     padding-right: 21px;
     padding-top: 72px;
     padding-bottom: 96px;
}

.pricing-options {
     padding-top: 35px;
     display: block;
     text-decoration: none;
     height: 498px;
     width: 343px;
     padding-top: 35px;
}

.opt-title {
     text-align: center;
     height: 59px;
     line-height: 59px;
     margin-bottom: 1px;
     width: 343px;
}

.opt-price {
     text-align: center;
     padding: 0px 17px 8px 17px;
     width: 309px;
}

.opt-type {
     text-align: center;
     padding: 0px 17px 17px 17px;
     width: 309px;
}

.opt-value {
     text-align: center;
     height: 5px;
     line-height: 40px;
     margin-bottom: 1px;
     width: 343px;
}

.pricing-options:hover {
     padding-top: 0px;
}

.pricing-options:hover .opt-value {
     height: 40px;
}

.opt-specs {
     width: 100%;
}

.opt-specs ul li {
     list-style-type: none;
     height: 41px;
     line-height: 41px;
     text-align: center;
     margin-bottom: 1px;
}

/*section-6*/

.section-6 .section-col {
     padding-left: 46px;
     padding-right: 74px;
     padding-top: 54px;
     padding-bottom: 100px;
}

.saying-quote {
     padding: 22px 12px;
     width: 248px;
     border-radius: 3px;
}

.down-arrow {
     background: url("../images/down-arrow.png") no-repeat;
     background-position-x: 27px;
     background-position-y: 0px;
     height: 23px;
}

.customer-pic {
     float: left;
     width: 70px;
     border-radius: 50%;
     margin-left: 2px;
}

.customer-info {
     float: right;
     width: 186px;
     padding-top: 12px;
}

/*section-7*/
.section-7 {
     width: 100%;
     background: url("../images/section-7-bg.png") no-repeat top center;
     background-size: cover;
     padding-bottom: 63px;
}

.section-7 .section-default h1 {
     padding-top: 63px;
     color: #ffffff;
}

.section-7 .section-default hr {
     background-color: #ffffff;
}

.section-7 .section-default p {
     padding-bottom: 24px;
}

.section-7 .section-default .download-btn {
     display: block;
     margin: 0 auto;
     width: 76px;
}

/*section-8-Contact*/

.section-8 form {
     padding-top: 82px;
}

.contact-left {
     float: left;
     width: 560px;
}

.contact-right {
     float: right;
}

.contact-left input[type=text] {
     margin-left: 16px;
     margin-bottom: 34px;
     width: 500px;
     padding: 8px 13px;
     /*527px-13-13*/
     border: none;
     border-bottom: 1px solid #d6d6d6;
}

.contact-right textarea {
     margin-right: 13px;
     width: 500px;
     padding: 8px 13px;
     overflow: auto;
     height: 159px;
     /*527px-13-13*/
     border: none;
     border-bottom: 1px solid #d6d6d6;
}

.send-msg {
     text-align: center;
     width: 100%;
     padding-top: 40px;
     padding-bottom: 82px;
}

.send-msg input[type=submit] {
     padding: 13px 23px;
     /*360px-20*2*/
     text-align: center;
     border: none;
     border-radius: 3px;
     box-shadow: 1px 1px 2px #86878b;
}

/*footer*/

footer {
     width: 100%;
     background-color: #000000;
     padding-bottom: 12px;
     min-width: 1400px;
}

.footer-icons {
     width: 366px;
     margin: 0 auto;
     padding-bottom: 12px;
     text-align: center;
}

.footer-icons ul li {
     float: left;
     padding-top: 20px;
     padding-left: 12px;
     padding-right: 12px;
     list-style-type: none;
}

.footer-social-icons a {
     width: 28px;
}

.footer-cr {

     width: 130px;
     margin: 0 auto;
     text-align: center;

}