* {
     padding: 0px;
     margin: 0px;
     font-family: 'Raleway', sans-serif;
}

.clearfix::before,
.clearfix::after {
     content: "";
     display: table;
}

.clearfix::after {
     clear: both;
}

img {
     width: 100%;
     height: auto;
     display: block;
}


.checker {
     border: 0.1px solid;
     border-color: white;
}

.checker-b {
     border: 0.1px solid;
     border-color: black;
}