* {
     padding: 0px;
     margin: 0px;
     font-family: 'Raleway', sans-serif;
}

.clearfix::before,
.clearfix::after {
     content: "";
     display: table;
}

.clearfix::after {
     clear: both;
}

img {
     width: 100%;
     height: auto;
     display: block;
}

.checker {
     border: 0.1px solid;
     border-color: white;
}

.checker-b {
     border: 0.1px solid;
     border-color: black;
}

.body-div {
     font-family: "Raleway", sans-serif;
     background-color: #f5f5f5;
     /*background: url("../i-Recovered.png") no-repeat top left;
     background-size: cover;*/
}