.carousel-container {
  margin: 30px auto;
  /* overflow: hidden; */
  position: relative;
  overflow: hidden;
}

.carousel-image-wrapper {
  position: absolute;
  z-index: 1;
}

.carousel-image-wrapper img {
  float: left;
  display: block;
}

.carousel-container-button {
  position: absolute;
  z-index: 20;
  display: block;
  background: none;
  color: rgb(255, 250, 244);
  font-size: 80px;
  border: 0px;
  text-align: center;
  opacity: 70%;
  overflow: hidden;
  top: 50%;
}

.carousel-container-button:hover {
  opacity: 90%;
}

.indicator-div {
  position: absolute;
  z-index: 22;
  text-align: center;
  bottom: 0px;
  width: 100%;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}