.menu-list ul{
     list-style-type: none;
     margin: 0;
     padding: 0;
     float: left;
}

.menu-list ul li{
     float: left;
     padding-left: 16px;
     padding-right: 14px;
     font-size: 13px;
     font-weight: bold;
}

.menu-list ul li a {
     text-align: center;
     text-decoration: none;
     text-decoration-color: #ffffff;
     color: #ffffff;
     padding: 6px 11px;
}

.menu-list ul li a:hover{
     background-color: #63a19e;
}

.left-closure{
     background-image: url("../images/left-closure.png");
     background-position-y: center;
     background-position-x: center;
     background-repeat: no-repeat;
     height: 28px;
     width: 10px;
     color: #63a19e;
} 



.menu-search{
     margin-top: 24px;
     float: right;
     height: 30px;
     width:30px;
     background-image: url("../images/search-icon.png");
     background-position: center;
     background-repeat: no-repeat;
}

.menu-search:hover{
     margin-top: 24px;
     float: right;
     height: 30px;
     width:30px;
     background-color: #63a19e;
     background-image: url("../images/search-icon-hover.png");
     background-position: center;
     background-repeat: no-repeat;
}

.col2-right ul{
     list-style-type: none;
     margin: 0;
     padding: 0;
     float: right;
     line-height: 80px;
}

.col2-right ul li{
     float: left;
     color: #818785;
     font-size: 12px;
     padding: 0px 3px;
}

.col2-right ul li a{
     color: #818785;
     text-decoration: none;
     padding-right: 10px;
}

.col2-right li::after{
     content: "/";
     float: right;
     color: silver;
}

.col2-right li:last-child::after{
     display: none;
}

.col2-left{
     font-size: 20px;
}

.main-body-1-wrapper{
     padding-top: 41px;
     color: #909696;
}

.main-body-1-wrapper h1{
     color: #de5646;
     margin-left: 7px;
     margin-bottom: 16px;
}

.main-body-1-wrapper p{
     color: #de5646;
     line-height: 23px;
     font-size: 15px;
     color: #909696;
     margin-bottom: 64px;
}

.col3-left h3{
     min-height: 50px;
}

.col3-left ul {
     margin-left: 17px;
     font-size: 13px;
     width: 270px;
}

.col3-left li{
     list-style-image: url("../images/list-img.png");
     line-height: 26px;
}

.main a{
     color: red;
}

.main p{
     margin-left: 20px;
     line-height: 26px;
     margin-bottom:56px;
}

.main ul li{
     float: left;
     list-style: none;
     padding-left: 10px;
     padding-right: 10px;
}

.percent-div{
     font-size: 30px;
     text-align: center;
     padding-top: 28px;
     background-repeat: no-repeat;
     background-position: top left;
     height: 28px;
     width: 121px;
}

.percent-title{
     padding-top: 14px;
     text-align: center;
}

.col3-right-wrapper {
     float: right;
     width:272px;
}

.col3-right-wrapper h3{
     padding-bottom: 20px;
}

.bubble-text{
     background-color: #f8f8f8;
     font-size: 12px;
     line-height: 26px;
     padding:15px;
     font-style: italic;
}

.bubble-user{
     background-image: url("../images/bubble-arrow.png");
     background-position-x: 20px;
     background-position-y: top;
     background-repeat: no-repeat;
     padding-left: 58px;
     padding-top: 8px;
}

.main-body-3-wrapper {
     padding-top: 218px;
}

.body-3-head{
     text-align: center;
     color:#e05447;
     font-size: 33px;
     margin-bottom: 22px;
}

.body-3-p{
     margin: 0px auto;
     width: 940px;
}

.body-3-p p{
     color: #777777;
     line-height: 17px;
     text-align: center;
     padding-bottom: 52px;
}

.headline{
     background-image: url("../images/hedline-seperator.png");
     background-position-y: center;
     background-position-x: left;
     background-repeat: repeat-x;
}

.headline-title{
     background-color: #f3f3f3;
      background-image: url("../images/hedline-circle.png");
      background-position-y: center;
      background-position-x: right;
      background-repeat: no-repeat;
      font-size: 18px;
      padding-right: 24px;
      padding-top: 20px;
      height:40px;
}

.left-arrow-div{
     background-image: url("../images/left-arrow.png");
     background-position-y: center;
     background-position-x: center;
     background-repeat: no-repeat;
     height: 40px;
     width: 40px;
}

.right-arrow-div{
     background-image: url("../images/right-arrow.png");
     background-position-y: center;
     background-position-x: center;
     background-repeat: no-repeat;
     height: 40px;
     width: 40px;
}

.right-arrow-div:hover{
     background-image: url("../images/right-arrow-red.png");
}

.left-arrow-div:hover{
     background-image: url("../images/left-arrow-red.png");
}

.body-3-list ul li{
     float: left;
     list-style: none;
     margin-right: 22px;
}

.jquery-lis{
     height: 92px;
     width: 172px;
     background-image: url("../images/jquery.png");
     background-position: center;
     background-repeat: no-repeat;
}

.jquery-lis a{
     display: block;
     height: 91px;
     width: 171px;
     text-align: center;
     text-decoration: none;
}

.body-3-list{
     margin-top: 20px;
     background-color: #f3f3f3;
     width: 100%;
     padding-bottom: 67px;
}

.footer-top{
     height: 300px;
     background-color: #76c7c1;
     background-image: url("../images/footer-design.png");
     background-position: top;
     background-repeat: repeat-x;
}

.footer-bottom{
     height: 50px;
     background-color: #6bb4ad;
}

.footer-bottom-left{
     float: left;
     font-size: 12px;
     line-height: 50px;
     color: white;
}
.footer-bottom-right{
     float: right;
}

.footer-bottom-right ul li{
     float: left;
     list-style: none;
     list-style-type: none;
     padding-left: 24px;
}

.fb{
     background-image: url("../images/fb.png");
     background-position: center;
     background-repeat: no-repeat;
     height: 50px;
     width: 30px;
}

.gplus{
     background-image: url("../images/gplus.png");
     background-position: center;
     background-repeat: no-repeat;
     height: 50px;
     width: 30px;
}

.twit{
     background-image: url("../images/tw.png");
     background-position: center;
     background-repeat: no-repeat;
     height: 50px;
     width: 30px;
}

.wiki{
     background-image: url("../images/wiki.png");
     background-position: center;
     background-repeat: no-repeat;
     height: 50px;
     width: 30px;
}

.sharing {
     position: absolute;
     bottom: 1px;
     left: center;
     border: 1px solid;
}

.sharing ul li{
     float: left;
     list-style: none;
     list-style-type: none;
     padding-left: 5px;
     padding-right: 4px;
}

.sharing ul li img{
     height: 40px;
     width: 40px;
}

