@font-face {
  font-family: catMarioFont;
  src: url('../font/catMarioFont.ttf');
}

.main-wrapper {
  width: 100%;
}

.main-container {
  display: block;
  margin: 20px auto;
  background-color: black;
  border: 2px solid black;
  position: relative;
}

#mainCanvas {
  margin: 20px auto;
  display: block;
  /*background-color: #a0b4fa;*/
}